<a href="https://colab.research.google.com/github/reyhanalemmario/bangkit/blob/master/first_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First Machine Learning Bangkit Project
"Heart Attack Prediction"
By Rizal, Rinda and Reyhan
This notebook file contains step-by-step process in solving Binary Classification problem in order to predict that someone actually has potential of getting heart attack or not by looking at Aniographic disease status column in the dataset.

The dataset that we are using is from https://www.kaggle.com/imnikhilanand/heart-attack-prediction, The desription of each feature is available in that link.

From dataset description, Aniographic disease status column has a meaning on how many percent that diameter of blood vessels have already narrowed by using Aniographic medical X-ray imaging technique [1]. When the percentage of decreased diameter is more than 50%, then the value on that column had converted to 1, and for less than 50% the value had converted to 0.

In this notebook we are trying to predict that binary value column by looking at another features in the dataset.

In [1]:
#Import the modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Load the dataset
url = 'https://raw.githubusercontent.com/reyhanalemmario/bangkit/master/data.csv'
data = pd.read_csv(url)
data.head()

   age  sex  cp trestbps chol fbs  ... exang oldpeak slope  ca thal num
0   28    1   2      130  132   0  ...     0     0.0     ?   ?    ?          0
1   29    1   2      120  243   0  ...     0     0.0     ?   ?    ?          0
2   29    1   2      140    ?   0  ...     0     0.0     ?   ?    ?          0
3   30    0   1      170  237   0  ...     0     0.0     ?   ?    6          0
4   31    0   2      100  219   0  ...     0     0.0     ?   ?    ?          0

[5 rows x 14 columns]